<html xmlns:th = "http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragment/header :: headerFragment"></th:block>
    </head>

    <body>
    <h1>이미지  입력</h1>
    <button type="button" class="btn btn-primary" id="btn-result">결과 전송 test</button>
    <form id="input-image" method="post" enctype="multipart/form-data">
        <input type="file" name="image" >
        <button type="button" class="btn btn-success" id="btn-upload">파일 업로드</button>
    </form>

    <th:block th:replace="fragment/footer :: footerFragment"></th:block>
   </body>

</html>